<title>Check-Out Page</title>
<h2>THanks for ordering</h2>
<a href="/home">Home</a>

@foreach (var item in ViewBag.Order.Pizzas)
{
  <p>Crust: @item.Crust</p>
  <p>Size: @item.Size</p>
  <p>Toppings:</p>

  <ul>
  @foreach (var thing in item.Toppings)
    {
      <li>@thing</li>
    }
  </ul>

  <p> Your total cost is $@ViewBag.Order.TotalCost </p>
}